include LICENSE
include README.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include docs *.md
recursive-include design *.md
recursive-include examples *.py *.md *.sh
recursive-include benchmarks *.py *.md
recursive-include tests *.py *.md
